.project{
    /* height: 100vh; */
    background-color:rgb(9, 13, 33);
    padding-left: 70px;
}
.myworks{
    color: rgb(53, 241, 53);
    padding-top: 100px;
    text-align: center;
    font-size: 25px;
}
.pro15{
    color: rgb(74, 78, 74);
    /* text-align: center; */
    font-size: 20px;
}
.sections{
    color: rgb(0, 0, 0);
    display: flex;
    column-gap: 20px;
    width: 100%;
    /* background-color: red; */
    justify-content: center;

}
.card{
    /* width: 200px; */
    height: 320px;
    /* background-color: rgb(53, 241, 53); */
    border: 2px solid rgb(24, 151, 24);
    border-radius: 20px;
}


.back{
    background: none;
    padding: 5px;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    color:  rgb(53, 241, 53);
    border: none;
}
.back:hover{
  opacity: .5;
}

.moreWork{
    color: white;
    >span{
        color:  rgb(53, 241, 53);
        text-transform: lowercase;
    }
}    

@media (max-width:660px){
    .project{
        padding-left: 20px;
    }
}